In [20]:
# preamble to be able to run notebooks in Jupyter and Colab
try:
    from google.colab import drive
    import sys
    
    drive.mount('/content/drive')
    notes_home = "/content/drive/My Drive/CSC310/notes/"
    user_home = "/content/drive/My Drive/"
    sys.path.insert(1,notes_home) # let the notebook access the notes folder

except ModuleNotFoundError:
    notes_home = "" # running native Jupyter environment -- notes home is the same as the notebook
    user_home = ""  # under Jupyter we assume the user directory is the same as the notebook

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
import sys

if 'google.colab' in sys.modules:
  !pip install -q dtreeviz

In [22]:
import os 
os.chdir('/content/drive/My Drive/CSC310/notes/assets')

In [23]:
url = "https://raw.githubusercontent.com/Tranqpenguin/CSC310/main/c310/tennis_numeric.csv"

In [24]:
from dtreeviz.trees import *
from sklearn.metrics import accuracy_score
from assets.treeviz import tree_print
from IPython.display import Image, display_svg, SVG
import pandas as pd

In [25]:
df = pd.read_csv(url)
df

    outlook_sunny  outlook_overcast  outlook_rainy  ...  humidity  windy  play
0               1                 0              0  ...        85      0    no
1               1                 0              0  ...        90      1    no
2               0                 1              0  ...        86      0   yes
3               0                 0              1  ...        96      0   yes
4               0                 0              1  ...        80      0   yes
5               0                 0              1  ...        70      1    no
6               0                 1              0  ...        65      1   yes
7               1                 0              0  ...        95      0    no
8               1                 0              0  ...        70      0   yes
9               0                 0              1  ...        80      0   yes
10              1                 0              0  ...        70      1   yes
11              0                 1              0  ...        90      1   yes
12              0                 1              0  ...        75      0   yes
13              0                 0              1  ...        91      1    no

[14 rows x 7 columns]

In [26]:
df.head()

   outlook_sunny  outlook_overcast  outlook_rainy  ...  humidity  windy  play
0              1                 0              0  ...        85      0    no
1              1                 0              0  ...        90      1    no
2              0                 1              0  ...        86      0   yes
3              0                 0              1  ...        96      0   yes
4              0                 0              1  ...        80      0   yes

[5 rows x 7 columns]

In [27]:
features_df = df.drop(['play'],axis=1)
features_df.head()

   outlook_sunny  outlook_overcast  outlook_rainy  temperature  humidity  windy
0              1                 0              0           85        85      0
1              1                 0              0           80        90      1
2              0                 1              0           83        86      0
3              0                 0              1           70        96      0
4              0                 0              1           68        80      0

In [28]:
target_df = pd.DataFrame(df['play'])
target_df.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [29]:
dtree = tree.DecisionTreeClassifier(criterion='entropy')
dtree.fit(features_df,target_df)

DecisionTreeClassifier(criterion='entropy')

In [30]:
tree_print(dtree,features_df)

if outlook_overcast =< 0.5:
  |then if humidity =< 82.5:
  |  |then if temperature =< 66.5:
  |  |  |then no
  |  |  |else yes
  |  |else if humidity =< 95.5:
  |  |  |then no
  |  |  |else yes
  |else yes
<------->
Tree Depth:  3

In [31]:
predict_array = dtree.predict(features_df)      # produces an array of labels
predicted_labels = pd.DataFrame(predict_array)  # turn it into a DF
predicted_labels.columns = ['play']

In [32]:
predicted_labels.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [33]:
target_df.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [34]:
predicted_labels.equals(target_df)

True

In [35]:
print("Our model accuracy is: {}".format(accuracy_score(target_df, predicted_labels)))

Our model accuracy is: 1.0