In [3]:
import sys
sys.path.insert(0,'/C:/Users/andre/Documents/c310')
import treeviz
import pandas as pd
import os
path = os.path.join('c:'+ os.sep,'Users','andre','Documents','c310', 'tennis_numeric.csv')
df = pd.read_csv(path)
from sklearn import tree
from treeviz import tree_print
from sklearn.metrics import accuracy_score
!pip install -q dtreeviz
from dtreeviz.trees import *
from IPython.display import Image, display_svg, SVG

In [2]:
df.head()

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy,play
0,1,0,0,85,85,0,no
1,1,0,0,80,90,1,no
2,0,1,0,83,86,0,yes
3,0,0,1,70,96,0,yes
4,0,0,1,68,80,0,yes

In [3]:
features_df = df.drop(['play'],axis=1)
features_df.head()

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy
0,1,0,0,85,85,0
1,1,0,0,80,90,1
2,0,1,0,83,86,0
3,0,0,1,70,96,0
4,0,0,1,68,80,0

In [4]:
target_df = pd.DataFrame(df['play'])
target_df.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [5]:
dtree = tree.DecisionTreeClassifier(criterion='entropy')
dtree.fit(features_df,target_df)

DecisionTreeClassifier(criterion='entropy')

In [6]:
tree_print(dtree,features_df)

if outlook_overcast =< 0.5:
  |then if humidity =< 82.5:
  |  |then if temperature =< 66.5:
  |  |  |then no
  |  |  |else yes
  |  |else if humidity =< 95.5:
  |  |  |then no
  |  |  |else yes
  |else yes
<------->
Tree Depth:  3

In [7]:
predict_array = dtree.predict(features_df)      # produces an array of labels
predicted_labels = pd.DataFrame(predict_array)  # turn it into a DF
predicted_labels.columns = ['Species']

In [8]:
predicted_labels.head()

  Species
0      no
1      no
2     yes
3     yes
4     yes

In [9]:
target_df.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [10]:
predicted_labels.equals(target_df)

False

In [ ]:
print("Our model accuracy is: {}".format(accuracy_score(target_df, predicted_labels)))